body {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  font-family: Montserrat, sans-serif;
}

#section1 {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/228384.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,0.7);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(255,255,255,0.9);
}

.text-center.title {
  font-weight: 800;
  font-size: 46px;
  font-style: normal;
}

#section1-title {
  width: 40%;
  margin-top: 16%;
  margin-left: 5%;
}

.contact-button {
  border: 3px solid #fff;
  border-radius: 30px;
  margin-top: 30px;
  width: 60%;
  font-size: 18px;
}

#section2 {
  width: 100%;
  height: 100vh;
}

.title2 {
  font-weight: 800;
  font-size: 45px;
  margin-top: 7%;
}

.subtitle2 {
  font-weight: 300;
  font-size: 20px;
  color: #7d8285;
}

#section2-title-1 {
  padding: 7%;
  padding-bottom: 0%;
}

.about-container-heading {
  font-weight: bold;
  font-size: 35px;
}

#section3 {
  width: 100%;
  height: 100vh;
}

.title3 {
  font-weight: 800;
  font-size: 45px;
  margin-top: 5%;
}

#section3-title-2 {
  padding: 7%;
  padding-bottom: 0%;
}

#services {
  margin-top: 5%;
}

.services-p {
  font-weight: 600;
}

#section4 {
  width: 100%;
  height: 100vh;
}

.photo-gallery {
  color: #313437;
  background-color: #000000;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.photo-gallery .intro p {
  margin-bottom: 10%;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery h2 {
  font-weight: 800;
  padding-top: 20%;
  color: White;
  font-size: 45px;
}

.footer-web-adept {
  padding: 50px 0;
  background-color: #000000;
  color: #ffffff;
}

.footer-web-adept h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-web-adept ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-web-adept ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-web-adept ul a:hover {
  opacity: 1;
}

.footer-web-adept .item.social {
  text-align: right;
}

.footer-web-adept .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-web-adept .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-web-adept .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-web-adept .item.social > a:hover {
  opacity: 0.9;
}

.footer-web-adept .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

#section5 {
  width: 100%;
  height: 100vh;
}

.text-center.title4 {
  padding-top: 5%;
  font-size: 45px;
  font-weight: 800;
}

#contact-form-subhead {
  padding-left: 4%;
  padding-right: 6%;
}

.row.contact-form {
  width: 100%;
  padding: 6%;
  padding-top: 4%;
}

.contact-form-input {
  width: 100%;
  margin-top: 2%;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 2%;
  padding-left: 0px;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  color: rgb(255,255,255);
  border: 1px solid #575757;
}

